<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NFL Database</title>
</head>
<body>

    <h1>National Football League General Database</h1>
    [ <a href="/">Home</a> | <a href="teams.hbs">Teams</a> | <a href="players.hbs">Players</a> | <a href="teamsPlayers.hbs">Team-Player Relationships</a> | <a href="coaches.hbs">Coaches</a> | <a href="teamsCoaches.hbs">Team-Coach Relationships</a> | <a href="games.hbs">Games</a> | <a href="teamsGames.hbs">Team-Game Relationships</a> | <a href="stadiums.hbs">Stadiums</a> | <a href="positions.hbs">Positions</a>]
    {{{body}}}

</body>
</html>