<html>
<head>
<title>National Football League General Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript"></script>
</head>

<body>


<h2>Positions</h2>
<div id="browse">
<table border="1" cellpadding="5">
  <tr>
    <th>Position</th>
  </tr>
  <tr>
    <td>QB</td>
  </tr>
  <tr>
    <td>WR</td>
  </tr>
  <tr>
    <td>RB</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->

</body>
</html>
