<html>
<head>
<title>National Football League General Database</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newStadium() { showform('insert'); }
    function updateStadium(pid) { showform('update'); }
    function deleteStadium(pid) { showform ('delete'); }
    function browseStadiums() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseStadiums()">
<h1>National Football League General Database</h1>

[ <a href="index.html">Home</a> | <a href="teams.html">Teams</a> | <a href="players.html">Players</a> | <a href="teamsPlayers.html">Team-Player Relationships</a> | <a href="coaches.html">Coaches</a> | <a href="teamsCoaches.html">Team-Coach Relationships</a> | <a href="games.html">Games</a> | <a href="teamsGames.html">Team-Game Relationships</a> | <a href="stadiums.html">Stadiums</a> | <a href="positions.html">Positions</a>]
<h2>Stadiums</h2>
<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newStadium()">New</a></th>
    <th></th>
    <th>ID</th>
    <th>Location</th>
    <th>Capacity</th>
    <th>Indoors</th>
  </tr>
  <tr>
    <td><a href="#" onClick="updateStadium('this.stadiumID')">Edit</a></td>
    <td><a href="#" onclick="deleteStadium('this.stadiumID')">Delete</a></td>
    <td align="right" >1</td>
    <td >East Rutherford</td>
    <td align="right" >82,500</td>
    <td>False</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateStadium('this.stadiumID')">Edit</a></td>
    <td><a href="#" onclick="deleteStadium('this.stadiumID')">Delete</a></td>
    <td align="right" >2</td>
    <td >Pittsburgh</td>
    <td align="right" >68,400</td>
    <td>False</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateStadium('this.stadiumID')">Edit</a></td>
    <td><a href="#" onclick="deleteStadium('this.stadiumID')">Delete</a></td>
    <td align="right" >3</td>
    <td >Inglewood</td>
    <td align="right" >70,000</td>
    <td>True</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addStadium">
        <legend><strong>Add Stadium</strong></legend>
          <fieldset class="fields">
            <label> Location </label> <input type="text" name="location">
            <label> Capacity </label> <input type="number" name="capacity">
            <label> Indoors </label> 
            <input type="radio" name="indoors">
            <label> True </label>
            <input type="radio" name="indoors">
            <label> False </label>
      </fieldset>
          <input class="btn" type="submit" id="addStadium" value="Add Stadium">
          <input class="btn" type="button" value="cancel" onClick="browseStadiums()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateStadium">
        <legend><strong>Update Stadium</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="stadiumID" id="updateStadiumID" value="1">
          <label> ID: </label> 1
          <label> Location </label> <input type="text" name="location">
          <label> Capacity </label> <input type="number" name="capacity">
          <label> Indoors </label> 
          <input type="radio" name="indoors">
          <label> True </label>
          <input type="radio" name="indoors">
          <label> False </label>
    </fieldset>
        <input class="btn" type="submit" id="addStadium" value="Add Stadium">
        <input class="btn" type="button" value="cancel" onClick="browseStadiums()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteStadium">
      <legend><strong>Delete Stadium</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="stadiumID" id="deleteStadiumID" value="1">
          <label><strong>ID:</strong></label> 1
            <label> <strong>Name</strong> </label> East Rutherford
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteStadium" value="Delete Stadium">
          <input class="btn" type="button" value="cancel" onClick="browseStadiums()">
  </form> 
</div><!-- delete -->

</body>
</html>
